@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

html,
body {
  font-family: "Nanum Gothic", sans-serif;
  max-width: 1300px;
  margin: auto;
}

.template {
  display: none;
}

.title {
  text-align: center;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.member-card {
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 16px;
}

.card-banner,
.card-banner img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.member-info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}
.member-info .info-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}
.member-info .info-link {
  font-size: 0.8em;
}

.member-info img {
  display: block;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
}
