/*setting*/
.slider {
  width: 100%;
  height: 450px;
  /* border: 2px solid black; */
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Pretendard-Regular", Arial, Helvetica, sans-serif; /*폰트 추가*/
}
.slide {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}

/*first banner*/

.slider .container {
  display: flex;
}

.slider .box {
  width: 100%;
  height: 450px;
  background: no-repeat url("../assets/img_banner/111.jpeg") 0 / cover;
  /* z-index: 1; */
}

.slider #firsttexts {
  width: 100%;
  height: 100%;
  color: #fff53d;
  background-color: rgba(0, 0, 0, 0.316);
  /* animation-name: textanimate;
  animation-duration: 3s; */
  animation: Color 5s linear infinite;
  -webkit-animation: Color 5s ease-in-out infinite;
  backdrop-filter: blur(3px);
}

@keyframes Color {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  30% {
    color: rgba(255, 255, 255, 1);
  }

  100% {
    color: rgba(255, 255, 255, 1);
  }
}

.slider .banner-1 #filsttexts {
  height: 97%;
  padding-top: 1%;
  background-color: rgba(0, 0, 0, 0.316);
}

.slider .banner-1 h1 {
  position: absolute;
  left: 27.5%;
  top: 10%;
  z-index: 2;
  text-align: center;
  padding-top: 40px;
  font-size: 60px;
}

.slider .banner-1 > h1 > span {
  color: hsl(207, 100%, 61%);
}

/* second banner */

.slider .rect {
  background-color: white;
  margin: auto;
  font-family: "Pretendard-Regular", Arial, Helvetica, sans-serif;
  height: 450px;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.slider #secondbanner {
  display: flex;

  justify-content: center;
  /* align-items: center; */
  background-color: #fff53d;
}
/* div#secondbanner {
  position: relative;
} */
.slider #secondphotos {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  height: 450px;
  justify-content: center;
}
.slider #secondphotos img {
  width: 100%;
}

.slider #secondphotos > span {
  margin-left: 8px;
  margin-right: 8px;
}
.slider .photos .a {
  background-color: #37a6ff;
  padding-top: 4rem;
  padding-bottom: 0px;
  width: 220px;
  animation-name: animate1;
  animation-duration: 2s;
}
@keyframes animate1 {
  0% {
    background-color: #fff53d;
  }
  50% {
    background-color: #37a6ff;
  }
  100% {
    background-color: #37a6ff;
  }
}
.slider .photos .b {
  background-color: #37a6ff;
  padding-top: 4rem;
  margin-right: 1rem;
  width: 210px;
  animation-name: animate2;
  animation-duration: 3s;
}

@keyframes animate2 {
  0% {
    background-color: #fff53d;
  }
  50% {
    background-color: #37a6ff;
  }
  100% {
    background-color: #37a6ff;
  }
}
.slider .photos .c {
  background-color: #37a6ff;
  padding-top: 4rem;
  width: 240px;
  animation-name: animate3;
  animation-duration: 3.5s;
}
@keyframes animate3 {
  0% {
    background-color: #fff53d;
  }
  60% {
    background-color: #37a6ff;
  }
  100% {
    background-color: #37a6ff;
  }
}

.slider #secondtexts {
  display: flex;
  width: 100%;
  max-width: 450px;
  align-items: center;
}
.slider #secondtexts h1 {
  display: block;
  position: relative;
  color: black;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

.slider #secondtexts span {
  padding: 4px;
  color: #fff53d;
  background-color: #37a6ff;
}

.slider #secondbanner img {
  border-top: 10px solid white;
  border-bottom: 10px solid white;
}

/*banner 3*/
.slider .banner-3 h2 {
  font-size: 250%;
  text-decoration: solid;
  /* text-shadow: -2px 0px #37a6ff, 0px 2px #37a6ff, 2px 0px #37a6ff,
  0px -2px #37a6ff; */
}
.slider .banner-3 h3 {
  font-size: 300%;
  padding-top: 40px;
}
.slider .banner-3 {
  padding: 0;
}
.slider .banner-3 .rect {
  background-image: url("../assets/img_banner/banner3img.jpg"),
    url("../assets/img_banner/banner3img2.jpg");
  background-size: 50% 100%, 50% 100%;
  background-position: 0px 45%, 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-family: "Pretendard-Regular", Arial, Helvetica, sans-serif;
  line-height: 1;
}

.slider .image {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  height: 97%;
  padding-top: 1%;
  background-color: rgba(0, 0, 0, 0.316);
}
.slider .image span {
  /* background-color: #37a6ff; */
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 1145px) {
  .slider #secondtexts {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.316);
    height: 450px;
    max-width: none;
  }
  .slider #secondtexts h1 {
    font-size: 2rem;
    line-height: 200%;
    width: 100%;
    color: white;
  }
  .slider #secondbanner img {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }
}

@media (max-width: 800px) {
  .slider .photos .a {
    display: none;
  }
  .slider .photos .b {
    display: none;
  }

  .slider .photos .c {
    padding-top: 0;
    width: 100%;
    height: 100%;
  }
  .slider #secondtexts {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.316);
    height: 450px;
    max-width: none;
  }
  .slider #secondtexts h1 {
    font-size: 2rem;
    line-height: 200%;
    width: 100%;
    color: white;
  }
  .slider #secondbanner img {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
  }
}

@media (width < 1000px) {
  .slider .banner-3 h2 {
    font-size: 40px;
    border-bottom: 5px;
  }
  .slider .banner-3 h3 {
    font-size: 30px;
  }
  .slider .banner-3 .image {
    padding-top: 50px;
  }
  .slider .banner-3 .rect {
    background-size: 90% 100%;
    background-image: url("../assets/img_banner/banner3img.jpg");
  }
}
