.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.members .member-card {
  width: 250px;
  height: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 16px;
}

.members .card-banner,
.members .card-banner img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.members .member-info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}
.members .member-info .info-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}
.members .member-info .info-link {
  font-size: 0.8em;
}

.members .member-info img {
  display: block;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
}

.modal {
  position: absolute;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 50%;
  width: 700px;
  height: 400px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal_img {
  width: 500px;
  height: 400px;
}
.modal_img img {
  width: 100%;
  height: 100%;
}
.modal_title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}
#modal_introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
}
